@charset "utf-8";
/* CSS Document */

body {color:#484a4e !important;}
.navbar-nav a {font-size: 1.25em !important;}
.home-banner-area .template-name {font-size:35px;}
/*.home-banner-area .banner-content p {font-size:30px;
margin-top:30px !important;}
*/

.home-banner-area .overlay {
    background: rgb(9 31 72 / 40%);
}
.footer-area {color:#ffffff;}

@media screen and (min-width: 500px){
	.richmond {text-align:right;
		}


}
@media screen and (min-width: 250px){
	.richmond {
		margin-top:0px !important;}


}
.mylogo {width:75%;
		}
@media screen and (max-width: 991px){
	.mylogo {width:50%;
		}


}
.marginTop {margin-top:35px;}
.marginBottom {margin-bottom:75px !important;}

/* add background to top of each page */

.nosotros {
  width: 100%;
  height: auto;
  background: url("../img/banners/pottery_5.jpg") no-repeat center center fixed;
/*background: url("../img/wine.jpg") no-repeat center center fixed;*/
  background-repeat: no-repeat;
  background-size: cover;
}

.mision {
     max-width: 1920px;
  height: auto;
  background: url("../img/banners/007_half.jpg") no-repeat;
    /*background-size: cover;*/
background-repeat: no-repeat;
  background-size: cover;
}

.predicas {
     max-width: 1920px;
  height: auto;
  background: url("../img/banners/006_half.jpg") no-repeat;
    /*background-size: cover;*/
background-repeat: no-repeat;
  background-size: cover;
}

.galeria {
     max-width: 1920px;
  height: auto;
  background: url("../img/banners/004_half.jpg") no-repeat;
    /*background-size: cover;*/
background-repeat: no-repeat;
  background-size: cover;
}

.contactanos {
     max-width: 1920px;
  height: auto;
  background: url("../img/banners/001_half.jpg") no-repeat;
    /*background-size: cover;*/
background-repeat: no-repeat;
  background-size: cover;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.contact_form .form-group .form-control {
    line-height: 26px;
    color: #999;
    border: 1px solid #000000;
    font-family: "Roboto", sans-serif;
    border-radius: 0px;
    padding-left: 20px;
}
.portfolio img{
      padding-bottom: 5px;
}